<div class="tab" data-tab="totem-zone-grids">
	<p>{{ localize 'TOTEMGRID.ModuleName' }}</p>


    <div class="tgzSettingsPanel">
        <div class="form-group">
            <label>Number of zone tiles</label>
            <div class="form-fields">
                <label>Number across</label>
                <input type="number" value="{{countWidth}}" step="any" name="tzgCountWidth">
                <label>Number down</label>
                <input type="number" value="{{countHeight}}" step="any" name="tzgCountHeight">
            </div>
            <p class="notes">
                Foo bar baz
            </p>
        </div>

        <div class="form-group">
            <label>Zone Tile Dimensions <span class="units">(Pixels)</span></label>
            <div class="form-fields">
                <label>Width</label>
                <input type="number" value="{{tileWidth}}" step="any" name="tzgTileWidth">
                <label>Height</label>
                <input type="number" value="{{tileHeight}}" step="any" name="tzgTileHeight">
            </div>
            <p class="notes">
                Foo bar baz
            </p>
        </div>

        <div class="form-group">
            <label>A Label</label>
            <div class="form-fields">
                <input type="text" name="tzgSomeValue" value="">
            </div>
            <p class="notes">blah blah</p>
        </div>
    </div>



<!--    <button type="button" class="tgzMakeGrid">-->
<!--        <i class="fas fa-border-none" /> Make grid-->
<!--    </button>-->

</div>